body
{
	background-color: #05D197;
	margin: 0;
}

.button /*The green buttons css*/
{   
	background-color: #2db58f;
	border-width: 3px;
	border-color: #ffffff;
	color: #ffffff;
	cursor: pointer;
	font-size: 20px;
	height: 150px;
	margin-top: 30px;
	text-align: center;
	width: 100%;	
}

.button:hover
{
    background-color: #02845f;
}

.button-org /*Orange buttons css*/
{
	background-color: #ffd590;
	border-width: 3px;
	border-color: #ffffff;
	color: #ffffff;
	cursor: pointer;
	font-size: 20px;
	height: 150px;
	margin-top: 30px;
	text-align: center;
	width: 100%;
}

.button-org:hover
{
    background-color: #ffffff;
    color: #ffd590;
}

.line
{
    width: 50%;
}

#table
{
    border-collapse:separate;
    border-spacing:50px 50px;
   /* display: inline-block;*/
    width: 100%;
    height: 200px;
}

.text
{
	color: #FFFFFF;
	font-style: bold;
}

.window
{
	height: 100%;
	margin-left: 25%;
	padding: 1px 16px;
}

